/vendor/
/node_modules/
/bootstrap/cache/
/public/storage
/public/hot
/public/js
/public/css
npm-debug.log
yarn-error.log
/.idea
/.vscode
/composer.lock
/package-lock.json
/yarn.lock
/.phpunit.result.cache
.DS_Store
_ide_helper.php
.php_cs.cache
.php_cs
.env.backup
.phpstorm.meta.php
/.tinkerwell
/.nova
/.sass-cache
/.cache
/.tmp
.tmp
*.log
*.sqlite

